@model IEnumerable<EntityLayer.Concrete.PetShop>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
   
}
<!DOCTYPE html>
<html lang="tr">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Shop</title>
    <style>

        body {
            font-family: 'Roboto', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }


        .product-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            padding: 20px;
        }

        .product-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 250px; /* Kart genişliği */
            padding: 10px; /* Kart içi boşluk */
            text-align: center; /* İçeriği ortalamak için */
            background-color: #fff; /* Arka plan rengi */
            overflow: hidden;
            transition: transform 0.3s ease, box-shadow 0.3s ease;
        }

            .product-card:hover {
                transform: scale(1.05);
                box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            }

        .product-photo {
            width: 100%;
            height: 250px;
            object-fit: cover;
            border-bottom: 1px solid #ddd;
        }


        .product-card h3 {
            margin: 10px 0;
            font-size: 1.2em;
            color: #17a2b8;
        }

        .product-card p {
            margin: 5px 0;
            font-size: 0.9em;
            color: #141313;
        }
        .alert-custom {
            margin: 230px 0;
            text-align: center;
            font-size: 1em; 
            border: 0.5px solid #ffe949; 
            padding: 0.5px;
        }
    </style>
</head>
<body>
    <div class="card text-center mb-4">
        <div class="card-header bg-info text-white">
            <h1 class="m-0" style="font-weight: bold;">Pet Shop</h1>
        </div>
    </div>
    <div class="product-container">
        @if (Model != null && Model.Any())
        {
            foreach (var product in Model)
            {      
                <div class="product-card">
                    <img src="@product.ProductImage" alt="Ürün Fotoğrafı" class="product-photo" />
                    <h3>@product.ProductName</h3>
                    <p>Ürün Bilgisi: @product.ProductInfo</p>



                </div>
            }
        }


    </div>
    <div class="alert alert-warning alert-custom" role="alert">
        <i class="fas fa-exclamation-triangle"></i> Ürün satışımız yoktur. Sahiplendirilen hayvanlar için ufak hediyelerdir.
    </div>
</body>
</html>
