@{
    ViewData["Title"] = "İletişim";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


    <!-- Başlık Kutu -->
    <div class="card text-center mb-4">
        <div class="card-header bg-info text-white">
            <h1 class="m-0" style="font-weight: bold;">İletişim Sayfası</h1>
        </div>
    </div>
   


    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3060.3375678334864!2d32.85660451522118!3d39.92384227942571!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d34f25f6d7d6d1%3A0xe5d6a0a3b6e5f3f1!2sCerModern!5e0!3m2!1str!2str!4v1599145859171!5m2!1str!2str" width="100%" height="435" frameborder="0" style="border:0" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card mt-4">
                <div class="card-body p-3">
                    <h5>İletişim Bilgileri</h5>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker-alt text-info"></i> Adres: CerModern, Altınsoy Cd. No:3, 06101 Sıhhiye/Çankaya/Ankara</li>
                        <li><i class="fa fa-phone text-info"></i> Telefon: (312) 310 00 00</li>
                        <li><i class="fa fa-envelope text-info"></i> E-posta: yuvaolbana@gmail.com</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
